.env
env/
.aos/
.pcs_local_repo/

.cache
*.swp
mlruns
*.pyc
.idea
*.egg-info

build/
dist
documentation/_build
documentation/api
website/_site
docs
web/static
web/uploaded_media
web/registry/tests/fixtures
