#TODO: figure out a sane framework for running example agent tests
#      where their dependencies are all self contained within their
#      project directories, probably by using a virtualenv for each
#      test the way we do currently for the evolutionary_agent test.
#

# Documentation requirements
-e .
Sphinx==4.3.2
sphinx-autobuild==2021.3.14
sphinx-click==3.0.2
sphinx_rtd_theme==1.0.0
click>=7.0 # when updating, also update in ../setup.py

# Tests requirements
black==21.12b0
cloudpickle==1.3.0  # gym 0.17.1 in setup.py requires cloudpickle<1.4.0,>=1.2.0
flake8==4.0.1
pytest==6.2.5
pytest-venv==0.2.1
python-dotenv==0.19.2

# Releasing requirements
setuptools==59.6.0
wheel==0.37.1
twine==3.7.1

# mypy dependencies
types-PyYAML
types-requests

# Requirements for example agents (used in tests)
-r example_agents/rllib_agent/requirements.txt
-r example_agents/sb3_agent/requirements.txt
-r example_agents/acme_dqn/requirements.txt
-r example_agents/acme_r2d2/requirements.txt
