#TODO: figure out a sane framework for running example agent tests
#      where their dependencies are all self contained within their
#      project directories, probably by using a virtualenv for each
#      test the way we do currently for the evolutionary_agent test.

cloudpickle==1.3.0  # gym 0.17.1 in setup.py requires cloudpickle<1.4.0,>=1.2.0
flake8==3.8.3
pytest==3.2.1
pytest-virtualenv==1.7.0
tensorflow-probability  # for example_agents/rl_agents/reinforce_agent.py