{% extends "base.html" %}

{% block head_title %}
  AgentOS Leaderboard
{% endblock head_title %}

{% block container %}
  <div class='title'>AgentOS Environment Leaderboard</div>
{% endblock container %}

{% block content %}

  <div class="content">

    {% if env_dict %}
      {% for env_id, run_list in env_dict.items %}
        <h4>
            <a href="{% url 'component-detail' env_id %}">
                {{ env_id }}
            </a>
        </h4>
          <ul>
            {% for run in run_list %}
              <li>
                <a href="{% url 'run-detail' run.identifier %}">
                  Run {{ run.identifier }}
                </a>
                <ul>
                    {%  for metric_name, metric_val in run.data.metrics.items %}
                        <li>{{ metric_name }}: {{ metric_val }} </li>
                    {% endfor %}
                </ul>
              </li>
              {%  endfor %}
          </ul>
      {% endfor %}
    {% else %}
      <p>No Environments are available.</p>
    {% endif %}
  </div>
{% endblock content %}
